<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modeling.mapper.BondMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="bondResultMap" type="org.springblade.modeling.entity.Bond">
        <id column="BOND_CODE" property="bondCode"/>
        <result column="ASSET_TYPE" property="assetType"/>
        <result column="MARKET_TYPE" property="marketType"/>
        <result column="SHANGHAI_CODE" property="shanghaiCode"/>
        <result column="SHENZEN_CODE" property="shenzenCode"/>
        <result column="BANK_CODE" property="bankCode"/>
        <result column="TRUSTEESHIP" property="trusteeship"/>
        <result column="MONEY_TYPE" property="moneyType"/>
        <result column="SEC_NAME" property="secName"/>
        <result column="FACE_VALUE" property="faceValue"/>
        <result column="PRICE" property="price"/>
        <result column="ISSUE_DATE" property="issueDate"/>
        <result column="DUE_DATE" property="dueDate"/>
        <result column="EXPIRE_DATE" property="expireDate"/>
        <result column="COUPON_TYPE" property="couponType"/>
        <result column="ISSUE_ORG" property="issueOrg"/>
        <result column="BOND_TYPE" property="bondType"/>
        <result column="TERMLIMIT" property="termlimit"/>
    </resultMap>


    <select id="selectBondPage" resultMap="bondResultMap">
        select * from TB_BOND where is_deleted = 0
            AND BOND_CODE like concat('%', #{bond.bondCode}, '%')
            AND SEC_NAME like concat('%', #{bond.secName}, '%')
    </select>

</mapper>
