<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modeling.mapper.OrgYearReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="orgYearReportResultMap" type="org.springblade.modeling.entity.OrgYearReport">
        <id column="ID" property="id"/>
        <result column="ORG_ID" property="orgId"/>
        <result column="REPORT_TITLE" property="reportTitle"/>
        <result column="REPORT_DATE" property="reportDate"/>
        <result column="REPORT_TITLE_URL" property="reportTitleUrl"/>
    </resultMap>


    <select id="selectOrgYearReportPage" resultMap="orgYearReportResultMap">
        select * from TB_ORG_YEAR_REPORT where 1=1
    </select>

</mapper>
